@{
    ViewData["Title"] = "";
    var documentinfo = (ArticleContent)ViewBag.Document;
    var typeName = ViewData["TypeName"];
}

<!-- banner部分 -->
<div class="banner news">
    <div class="title">
        <p>@typeName</p>
          <p class="en"></p>
    </div>
</div>
<!-- main部分 -->
<div class="main-newsdate" style="margin-top: 0px;">
    <div class="layui-container">
        @if (documentinfo != null)
        {
            <p class="news"><a href="/news?id=@(typeName.Equals("公司新闻")?5:6)">@typeName</a> > 详情</p>
            <h1>@documentinfo.Title</h1>
            <p class="pushtime">发布时间：<span>@documentinfo.CreateDt</span></p>
            @Html.Raw(documentinfo.DocContent);
        }
    </div>
</div>